html{
  position: relative;
}

body {
  background-color: rgb(189, 193, 196);
  margin: 0;
}

img{
  width:300px;
  height:200px;
}

h1 {
  color: rgb(107, 240, 206);
  margin: 0;
}

h2 {
  margin: 0;
}


.whyP {
  text-align: center;
  font-size: 2rem;
}

/*-----class for the main website--*/
.intro {
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: white;
  margin-top: 100px;
  margin-left: 45px;
  margin-right: 700px;

}


.intro:hover {
  color: black;
  background-color: #eef9bf
}

.how {
  color: #eef9bf;
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: black;
  margin: 3% 0;
}

/* <!-----this section is for the packages offerted---> */
#card-package {
  padding: 50px;
  text-align: center;
}

.card-column-pk {
  top: 80px;
  left: 80px;
  
}

#latidudBox {
  width: 700px;
  
}

#visualisations{
  width: 700px;
 
  
}

.dropleft:hover {
  display: block;}
  
.table-wrapper {
    
    max-height: 800px;
    overflow: auto;
    display:inline-block;
  }
  .card-column-data{
  top: 80px;
  left: 80px;
  width: 1000px;
  }

  #mptext{
    text-align: center;
    color: rgb(93, 209, 180);
    
  }